[Desktop Entry]
Type=Application
Version=1.0
Name=OpenRA - Combined Arms
GenericName=Real Time Strategy Game
GenericName[de]=Echtzeit-Strategiespiel
Comment=A game combining the components of Red Alert and Tiberian Dawn
Icon=openra-ca
Exec=openra-ca
Terminal=false
Categories=Game;StrategyGame;X-RTS;X-RealTimeStrategy;X-RealTimeStrategyGame;
