[Desktop Entry]
Type=Application
Version=1.0
Name=OpenRA - Shattered Paradise
GenericName=Real Time Strategy Game
GenericName[de]=Echtzeit-Strategiespiel
Comment=Reimagining of the Tiberian Sun game
Icon=openra-sp
Exec=openra-sp
Terminal=false
Categories=Game;StrategyGame;X-RTS;X-RealTimeStrategy;X-RealTimeStrategyGame;
