[Desktop Entry]
Type=Application
Version=1.0
Name=OpenRA - Dune II
GenericName=Real Time Strategy Game
GenericName[de]=Echtzeit-Strategiespiel
Comment=Reimagining of the Dune II game
Icon=openra-d2
Exec=openra-d2
Terminal=false
Categories=Game;StrategyGame;X-RTS;X-RealTimeStrategy;X-RealTimeStrategyGame;
